body {
  font-family: "Roboto", sans-serif;
}

.card {
  margin-top: 30px;
  min-height: 300px;
}
.card-title {
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: center;
}
.left {
  margin-right: 20px;
}
